.header {
  position: sticky;
  top: 0;
  z-index: 100;

  flex-wrap: wrap;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;

  min-height: 56px;

  background-color: #202020;
  color: white;

  &__heading {
    display: flex;
    align-items: center;

    button {
      padding: 8px;
      outline: none;
      cursor: pointer;
      border: none;
      background-color: inherit;
      color: white;
    }

    a {
      display: flex;
      align-items: center;
    }
  }

  &__link {
    display: none;
    width: 80px;
    height: 18px;

    margin-left: 20px;

    @media (min-width: 576px) {
      display: block;
    }
  }

  &__logo {
    object-fit: contain;
  }

  &__search {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
    height: fit-content;

    a {
      display: flex;
      align-items: center;
      height: 30px;
      padding: 0 20px;
      background-color: #313131;

      outline: 1px solid #313131;;

      color: rgba(255, 255, 255, 0.5);

      transition: all 0.3s linear;

      &:hover {
        color: rgba(255, 255, 255, 0.8);
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;

    svg {
      height: 24px;
      color: white;
    }
  }
}

.input-field {
  position: relative;
  z-index: 2;

  width: 70%;
  height: 30px;

  font-size: 14px;

  padding: 5px;

  background-color: #000000;
  color: white;

  border: none;
  outline: 1px solid #313131;

  transition: all 0.3ms linear;

  &:focus {
    outline: 1px solid #4b79ff;
  }
}

.action-btn {
  border: none;
  background: none;

  cursor: pointer;

  margin-right: 15px;

  outline: none;
}

.login-link {
  display: flex;
  align-items: center;

  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;

  background-color: #202020;
  color: #3ea6ff;
  border: 1px solid #3ea6ff;

  padding: 5px 10px;

  outline: none;

  cursor: pointer;

  &__icon {
    margin-right: 10px;
  }
}

.logout-btn {

}

