.sidebar {
  flex: 0 0 72px;
  width: 72px;
  display: flex;
  justify-content: center;

  background-color: #202020;

  &__menu {
    width: 100%;

    a.active {
      .sidebar__item {
        color: white;
      }
    }
  }
}