.sidebar__item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  font-size: 10px;

  color: #aaa;
  font-weight: 400;

  padding: 20px 0;

  svg {
    margin-bottom: 5px;
  }

  &:hover {
    background-color: rgba(90,90,90,0.8)
  }
}