.sidebar-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  font-size: 10px;

  color: #fff;
  font-weight: 400;

  padding: 20px 0;

  &__img {
    border-radius: 50%;
    width: 24px;
    height: 24px;

    margin: 0 20px 0 0;
  }

  svg {
    color: #aaa;
    margin-bottom: 5px;
  }

  &:hover {
    background-color: rgba(90,90,90,0.8)
  }
}