.trend-videos {
  flex: auto;

  color: #aaa;

  background-color: #181818;

  &__container {

  }

  &__header {
    color: #fff;
    margin-top: 20px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    color: white;

    padding: 25px 0 ;

    margin: 0;

    @media (min-width: 576px) {
      margin-top: 30px;
    }
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    font-weight: 500;

    padding: 20px 0;

    border-bottom: 1px solid rgba(90, 90, 90, 0.5);
  }

  &__link {
    flex: 1 1 49%;
    width: 49%;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-decoration: none;

    margin-bottom: 10px;

    @media (min-width: 576px) {
      flex: 1 1 24%;
      width: 24%;

      margin-bottom: 0;
    }

    @media (min-width: 820px) {
      flex: none;
      width: auto;
      margin-right: 70px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__item {
    display: flex;

    margin-bottom: 10px;

    @media (min-width: 576px) {
      margin-bottom: 30px;
    }

    @media (min-width: 720px) {
      flex-direction: row;
    }

    .video-card__avatar {
      display: none;

      @media (min-width: 1140px) {
        display: flex;

        margin-top: 10px;
        margin-right: 20px;
      }
    }

    .video-card__attr {
      display: flex;
      flex-direction: row;

      margin-bottom: 5px;
    }

    .video-card__channel {
      @media (min-width: 720px) {
        margin-right: 20px;
      }
    }

    .video-card__time-views {
      @media (min-width: 576px) {
        flex-direction: row;
      }
    }

    .video-card__img {
      margin-bottom: 0;
    }

    .video-card__description {
      @media (min-width: 576px) {
        font-size: 16px;
      }
      
      @media (min-width: 720px) {
        font-size: 14px;
      }

      @media (min-width: 960px) {
        font-size: 20px;
      }
    }

    .video-card__info {
      display: none;

      @media (min-width: 576px) {
        display: flex;
      }

      @media (min-width: 720px) {
        margin-left: 15px;
      }

      @media (min-width: 960px) {
        margin-left: 20px;
      }
    }

    .video-card__header {

      @media (min-width: 576px) {
        flex-grow: 0;
        font-size: 18px;

        margin-bottom: 5px;
      }

      @media (min-width: 960px) {
        font-size: 24px;
      }

    }

    .video-card__text {
      margin-left: 0;

      @media (min-width: 576px) {

      }
    }

    .video-card__paragraph {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }

      @media (min-width: 960px) {
        font-size: 18px;
      }
    }
  }

  &__category-logo {
    font-size: 50px!important;
    width: 50px;
    height: 50px;

    border-radius: 50%;
    
    @media (min-width: 720px) {
      font-size: 80px!important;
      width: 80px;
      height: 80px;
    }
  }

  &__category-title {

  }

  .video-card {
    flex: 1 1 100%;
    width: 100%;

    @media (min-width: 720px) {

    };
  }


}