.user-actions {
  position: fixed;
  top: 50px;
  right: 20px;

  z-index: 1000;

  display: none;
  flex-direction: column;

  background-color: rgba(40,40,40,0.985);

  border: 1px solid rgba(255,255,255, 0.1);

  &__user-info {
    display: flex;

    padding: 16px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
  }

  &__user-logo {
    width: 40px;
    height: 40px;

    margin-right: 16px;
  }

  &__user-bio {
    display: flex;
    flex-direction: column;
  }

  &__email {
    margin-bottom: 8px;
  }

  &__google-control {
    font-size: 14px;
    color: #3ea6ff;
  }

  &__list {
    font-size: 14px;
    font-weight: 500;
  }

  &__divider {
    display: flex;
    flex-direction: column;

    border-bottom: 1px solid rgba(255,255,255,0.1);

    &:last-child {
      border-bottom: none;
    }
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 40px;

    padding: 0 36px 0 16px;

    &:hover {
      background-color: rgba(90,90,90,0.8);
    }

    a.active {
      svg {
        color: #fff;
      }

      background-color: #383838;
    }
  }

  &__item-logo {
    margin-right: 16px;
  }

  &__link-btn {
    border: none;
    outline: none;

    color: inherit;
    background-color: inherit;

    font-size: 14px;
    font-weight: 500;

    cursor: pointer;

    &:hover {
      background-color: #383838;
    }

    svg {
      color: #aaaaaa;
    }

    padding: 0;
  }

  &__arrow-forward {
    width: 14px!important;
    height: 14px!important;

    position: absolute;
    right: 30px;
  }
}