.video-card {
  position: relative;
  display: flex;
  flex-direction: column;

  height: auto;

  margin-bottom: 30px;

  @media (min-width: 567px) {
    flex: 0 1 23%;
    width: 23%;
  }

  &__img {
    height: 180px;

    img {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }

  &__info {
    display: flex;
    flex-grow: 1;
    margin-top: 10px;
  }

  &__avatar {
    width: 30px;
    height: 30px;
  }

  &__text {
    display: flex;
    flex-direction: column;

    margin-left: 15px;
  }

  &__header {
    flex-grow: 1;
    font-size: 14px;
    margin-bottom: 5px;
  }

  &__paragraph {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: gray;
  }

}