.video-row {
  display: flex;

  margin-bottom: 30px;

  color: white;

  &__img {
    object-fit: contain;
    width: 246px;
    height: 138px;
  }

  &__text {
    margin-left: 14px;
  }

  &__description {
    margin-top: 20px;
    font-size: 12px;
  }
}