.watch-video {
  display: flex;
  flex: 1;

  &__player {
    flex: 1 0 70%;
    width: 70%;
  }

  &__similar {
    width: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    margin-top: 20px;
  }

  &__next-video {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 10px;
  }

  &__item {
    width: 100%;
    flex: 0 0 200px;
    flex-direction: row;
    flex: none;

    margin-bottom: 15px;

    .video-card__img {
      width: 40%;
      flex: 0 0 40%;

      margin: 0;
    }

    .video-card__header {
      flex-grow: 0;
    }

    .video-card__info {
      width: 60%;
      flex: 0 0 60%;
    }
  }
}