.watch-video {
  display: flex;
  flex-direction: column;
  width: 100%;

  margin-left: 0;

  @media (min-width: 576px) {
    flex-direction: row;
    margin-left: 0!important;
  }

  &__player {
    padding: 0;

    @media (min-width: 720px) {
      flex: 1 0 70%;
      width: 70%;
    }
  }

  &__similar {
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;

    margin-top: 20px;

    @media (min-width: 576px) {
      width: 30%;
      display: flex;
    }

    @media (min-width: 960px) {
      width: 20%;
    }

    @media (min-width: 1140px) {
      width: 30%;
    }
  }

  &__next-video {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 10px;

    @media (min-width: 1024px) {
      font-size: 20px;
    }
  }

  &__item {
    width: 100%;

    margin-bottom: 15px;
    
    @media (min-width: 1140px) {
        flex-direction: row;
    }

    .video-card__img {
      margin-right: 0;
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }

      @media (min-width: 1140px) {
        width: 120px;
        height: 80px;

        margin-right: 5px;
      }
    }

    .video-card__text {
      margin-left: 0;
    }

    .video-card__header {
      flex-grow: 0;

      @media (min-width: 1140px) {
        font-size: 14px;
        line-height: 1.1;
      }
    }

    .video-card__info {
      width: auto;
      flex: 0 1 auto;
    }

    .video-card__paragraph {
      font-size: 13px;
    }
  }

  .youtube-player {
    margin-left: 0;
  }
}