.youtube-player {
  flex: 1;
  display: flex;
  flex-direction: column;

  margin-left: 20px;

  padding: 0;

  @media (min-width: 576px) {
    padding: 20px 20px 20px 0;
  }

  &__iframe {
    width: 100%;
    height: auto;

    iframe {
      width: 100%;
      height: 200px;

      @media (min-width: 425px) {
        height: 250px;
      }

      @media (min-width: 768px) {
       height: 290px;
      }

      @media (min-width: 960px) {
        height: 420px;
      }

      @media (min-width: 1024px) {
        height: 550px;
      }
    }

    margin-bottom: 20px;
  }

  &__info {
    width: 100%;

    text-align: justify;

    color: #fff;
    padding-bottom: 15px;

    border-bottom: 1px solid rgba(255,255,255, 0.3);
  }

  &__title {
    font-size: 18px;
    font-weight: 500;
    line-height: calc(24/18);

    word-break: break-word;

    margin-bottom: 10px;

    @media (min-width: 768px) {
      font-size: 20px;
      line-height: 1.1;
    }

    @media (min-width: 1140px) {
      font-size: 24px;
    }
  }

  &__statistics {
    display: flex;
    flex-wrap: wrap;

    color: #aaaaaa;

    @media (min-width: 960px) {
      align-items: center;
    }
  }

  &__statistics-left {
    width: 100%;
    display: flex;
    align-items: center;

    margin-bottom: 15px;

    @media (min-width: 1024px) {
      width: fit-content;
      align-items: flex-start;

      margin-bottom: 0;
    }
    
    @media (min-width: 1140px) {
      font-size: 16px;
    }
  }


  &__statistics-right {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (min-width: 1024px) {
      flex: 1;
      justify-content: flex-end;
    }

    div {
      font-size: 14px;
      font-weight: bold;

      text-transform: uppercase;

      margin-right: 2px;

      &:last-child {
        margin-right: 0;
      }
    }

    div a {
      display: flex;
      align-items: center;

      padding: 1px 6px;

      &:last-child {
        margin-right: 0;
      }

      @media (min-width: 1140px) {
        font-size: 16px;
      }
    }

    div svg {
      width: 30px;
      height: 30px;
      padding-right: 5px;
    }
  }


  &__tag {
    font-size: 13px;
    color: #3ea6ff;

    @media (min-width: 1024px) {
      font-size: 18px;
    }
  }
}

